<div class="comment flex flex-col border-b-4 py-2 px-6 border-l-2 border-r-2 border-t-2 bg-white border-black border-b-gray">
  <div>
    <h2><%= link_to comment.user.name, comment.user %></h2>
    <h3><%= comment.created_at %></h3>
    <p><%= comment.body %></p>
  </div>
  <div class="">
    
  </div>
  <% if comment.user == current_user %>
    <div class="flex gap-3 border-t-2 pt-2 pl-2">
      <div><%= link_to 'Edit', edit_comment_path(comment), class: 'button' %></div>
      <div><%= link_to 'Destroy', comment_path(comment), class: 'button', method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
</div>