<div class="flex flex-col gap-1.5 border-b-4 py-2 px-6 border-l-2 border-r-2 border-t-2 mb-4 bg-white border-black">
  <div>
    <h2><%= link_to post.title, post %></h2>
    <h3 class="text-pink-800 text-xl"><%= link_to post.user.name, post.user %></h3>
    <p><%= post.body %></p>
  </div>
  <div class="pt-10">
    <div class="flex gap-3">
      <div class="flex items-center"><%= post.likes.size %> likes</div>
      <div class="flex items-center"><%= post.comments.size %> comments</div>
    </div>
    <div>
      <% like = post.likes.first { |like| like.user_id == current_user.id } %>

      <% if like.nil? %>
        <%= button_to "Like", likes_path, params: {like: {post_id: post.id, url_from: request.path}}, method: :post, class: 'px-2 py-1.5 rounded-xl cursor-pointer' %>
      <% else %>
        <%= button_to "Like", like_path(like), params: {url_from: request.path}, method: :delete, class: 'px-2 py-1.5 rounded-xl bg-pink-800 text-white cursor-pointer' %>
      <% end %>
    </div>
  </div>
  <% if post.user == current_user %>
    <div class="flex gap-3 border-t-2 pt-2 pl-2">
      <div><%= link_to 'Show', post, class: 'button' %></div>
      <div><%= link_to 'Edit', edit_post_path(post), class: 'button' %></div>
      <div><%= link_to 'Destroy', post, class: 'button', method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>  
  <% end %>
</div>