<p id="notice"><%= notice %></p>

<div class="flex flex-col gap-1.5 border-b-4 py-2 px-6 border-l-2 border-r-2 border-t-2 mb-4 bg-white border-black">
  <div>
    <h2><%= @post.title %></h2>
    <h3><%= @post.user.name %></h3>
    <p><%= @post.body %></p>
  </div>
  <div class="">
    <div class="flex items-center"><%= @post.likes.count %> likes</div>
    <div>
      <% like = current_user.likes.find_by(post: @post) %>

      <% if like.nil? %>
        <%= button_to "Like", likes_path, params: {like: {post_id: @post.id}}, method: :post, class: 'px-2 py-1.5 rounded-xl cursor-pointer' %>
      <% else %>
        <%= button_to "Like", like_path(like), method: :delete, class: 'px-2 py-1.5 rounded-xl bg-pink-800 text-white cursor-pointer' %>
      <% end %>
    </div>
  </div>
  <% if @post.user == current_user %>
    <div class="flex gap-3">
      <div><%= link_to 'Show', @post, class: 'button' %></div>
      <div><%= link_to 'Edit', edit_post_path(@post), class: 'button' %></div>
      <div><%= link_to 'Destroy', @post, class: 'button', method: :delete, data: { confirm: 'Are you sure?' } %></div>
    </div>
  <% end %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
