<!DOCTYPE html>
<html>
  <head>
    <title>Uberblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  </head>

  <style>
    a {
      color: darkred;
      padding: 5px;
      background: #9c9c9c;
      border-radius: 4px;
      display: inline-block;
    }
  </style>

  <body>
    <header class="bg-gray-400 h-20 w-full">
      <div class="mx-auto flex items-center h-full" style="max-width: 1080px;">
        <div>
          <p><%= link_to 'Uberblog', root_path %></p>
        </div>
      </div>
    </header>
    <div class="mx-auto" style="max-width: 1080px;">
      <%= yield %>
    </div>
  </body>
</html>
