<!DOCTYPE html>
<html>
  <head>
    <title>Uberblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <style>
    .button {
      color: darkred;
      padding: 5px;
      background: #9c9c9c;
      border-radius: 4px;
      display: inline-block;
    }

    h1 {
      font-size: 48px;
    }
    h2 {
      font-size: 32px;
    }
  </style>

  <!-- 
    #6a6a6a gray
    #53354A purply
    aliceblue
   -->

  <body style="background-color: #ede1ce;">
    <header class="h-20 w-full mb-4" style="background-color: #53354A;">
      <div class="w-full h-full mx-auto flex items-center justify-between" style="max-width: 1080px;">
        <div>
          <p class="py-3 px-3 bg-black rounded-xl text-xl font-semibold text-blue-100" ><%= link_to 'Uberblog', root_path %></p>
        </div>

        <div>
          <p class="text-2xl text-blue-100">
            <% if user_signed_in? %>
              <%= link_to current_user.name, edit_user_registration_path, :class => 'text-2xl' %> |
              <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'text-2xl'  %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, :class => 'text-2xl'  %> |
              <%= link_to "Login", new_user_session_path, :class => 'text-2xl'  %>
            <% end %>
          </p>
        </div>
      </div>
      <div>
      </div>
    </header>
    <div class="mx-auto" style="max-width: 1080px;">
      <% if notice %>
        <p class=""><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class=""><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
